*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --clr:rgb(31, 25, 112);
}
body

{
    display: flex;
    background: var(--clr);
    
}

.logo
{
    background:#fff;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    position: fixed;
    display: flex;
    top:70px;
    left:70px;
}

.imglogo
{
    margin-top:11px;
    margin-left:15px;
}

.txtlogo
{
    margin-top:15px;
    margin-left:50px;
    font-size: 25px;
    color:var(--clr);
    font-weight: 900;
    letter-spacing: 0.05em;
}

.logo .icon
{
    font-size: 2em;
    margin-left:50px;
    margin-top:15px;
    color:var(--clr);
}


.lists
{
    
    width:400px;
    height: 70px;
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    top:70px;
    left:1440px;
    
    
}

.lists ul
{
    display: flex;
    width: 350px;
}

.lists ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.lists ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
}

.lists ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.lists ul li.active a .icon
{
    transform: translateY(-32px);
}

.lists ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 1000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.lists ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top:-50%;
    width: 70px;
    height: 70px;
    background: rgb(62, 109, 238);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}



.lists ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}

.lists ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}

.lists ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}

.lists ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}

.lists ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}

