*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #0c152e;
    font-family: 'Barlow', sans-serif ;
    height: 200vh;
}

.container
{
    width: 100%;
    height: 10vh;
    background:#0f1e47;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);

}

header
{
    width:100%;
    height: 10vh;
    display: flex;
    
    align-items: center;
}

.logo
{
    width: 300px;
    height: 10v;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    line-height: 1.5rem;
    margin-left:auto;
}

.logo .fa-solid
{
    font-size:45px;
}

.logo p
{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}

ul.navbar
{
    display: flex;
    list-style: none;
    margin-right: auto;
    padding: 10px;
}

ul.navbar li
{
    position: relative;
    list-style: none;
    width: 50px;
    z-index: 1;
}

ul.navbar li a 
{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight:500;
}

ul.navbar li a .icon
{
    
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 2em;
    text-align: center;
    transition: 0.5s;
    color:white;
}



ul.navbar li a .text
{
    position: absolute;
    opacity: 0;
    font-size: 1em;
    letter-spacing: 0.05em;
}

ul.navbar li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}

#btn
{
    width: 300px;
    height: 10vh;
    background: aliceblue;
    color: #000;
    outline: none;
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}

.slideshow
{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0); 
    opacity: 0.5;
}

.slideshow .val
{
    width: 1280px;
    height: 720px;
    object-fit:fill;
}